/* Fonte para uso dos cards */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');



:root {
  --padrao: "Hammersmith One", sans-serif;
  --teste : "Poppins", sans-serif;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--padrao);
  background-color: #ffffff;
  font-family: var(--teste);
}

*:focus{
  outline: none;
}


/* ----- Header ----- */
.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  font-family: "Hammersmith One", sans-serif;
  overflow: hidden;
}

.banner {
  width: 100%;
  position: absolute;
  z-index: -2;
}

/* ----- Botão do Banner ----- */

.btn-banner {
  margin-top: 23%;
  margin-left: 10%;
  width: auto;
  height: 60px;
}

.btn-banner button {
  padding: 10px 50px 10px 50px;
  border: none;
  border-radius: 50px;
  font-weight: 700;
  box-shadow: 3px 3px 15px gray;
  background-color: #ff8e15;
  border: 2px solid #ff8e15;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-banner button:hover {
  transform: scale(110%);
  background-color: white;
  color: #ff8e15;
}

/* ----- Navbar ----- */
.navbar {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

/* ---===MENU HAMBURGUER===--- */
.navbar .menu-hamburguer{
  position: absolute;
  right: 0;
  display: none;
  margin-right: 3px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  transition: all 0.5s ease;
}

.div-menu-hamburguer{
  height: 100vh;
  width: 300px;
  position: fixed;
  background-color: white;
  right: 0;
  top: 0;
  z-index: 99;
}
.container-menu-hamburguer{
  height: 50%;
}
.container-menu-hamburguer .links-hamburguer{
color: #ff8e15;
}
.cancelar-menu{
  height: 30px;
  width: 100%;
  padding: 20px 0px 0px 20px;
}
.cancelar-menu img{
  height: 100%;
}

.menu-hamburguer .hamburguer-img{
  width: 50px;
  cursor: pointer;
}

.navbar .menu-hamburguer:hover{
  background-color: rgba(43, 141, 39, 0.5)
}

/* ---====Componentes do navbar-1 (logo, link, login)====--- */
.logo-img img {
  width: 10vh;
  height: 11vh;
}

/* ------ links ------ */
.links {
  width: 100%;
  display: flex;
  align-items: center;
}

.links-responsive{
  width: 35%;
  display: block;
}

.header .navbar ul {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.header .navbar ul a {
  text-decoration: none;
  /*color: rgb(116, 60, 60);*/ 
  color: #ff8e15;
  position: relative;
}
.navbar ul a::after {
  content: "";
  width: 0%;
  height: 3px;
  /* background-color: rgb(102, 33, 33); */
  background-color: #ff8e15;
  position: absolute;
  bottom: 0;
  left: 1px;
  transition: 0.5s;
}

.navbar ul a:hover::after {
  width: 120%;
  transition: 0.5s;
}

/* --login e cadastro (LINK)-- */
.login-cad-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px;
  color: white;
}

.login-responsive{
  display: block;
}

.login-cad-section a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 5px;
}

/* -----=====Transição do Navbar */
#navbar-scroll{
  display: none;
  width: 100%;
  height: 7.9vh;
  animation: navbar-animation 0.5s ease-in;
  background-color: #31ca5f;
  z-index: 1;
}

#navbar-scroll .navbar {
  display: flex;
  align-items: center;
  margin-top: 4px;
  justify-content: space-around;
}

#navbar-scroll .navbar ul a, a::after {
  color: white;
}

#navbar-scroll .navbar .logo-img{
  height: auto;

}

#navbar-scroll .links-responsive .links ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#navbar-scroll .navbar .logo-img img{
  width: 7vh;
  height: 8vh;
}

#navbar-scroll .navbar .logo-img{
  background-color: white;
  
}

#navbar-scroll .navbar .search-box input{
  border: 2px solid rgb(189, 189, 189);
}


@keyframes navbar-animation{
  from{
    opacity: 0;
    transform: translateY(-50px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

/*-------Search-box-----*/
form {
  width: 40vh;
  position: relative;
}

.search-box{
  display: block;
}

.search-box input {
  width: 40vh;
  height: 25px;
  border-radius: 40px;
  background-color: white;
  border: none;
  outline: none;
  padding: 2px;
  padding-left: 10px;
  display: block;
}

.search-box input::placeholder {
  color: rgb(195, 197, 198);
}

.search-box button {
  height: 30px;
  width: 30px;
  padding: 5px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}


input:focus,
button:focus {
  outline: none;
}

.search-box button img {
  width: 15px;
}

/* -----=====Responsividade do NavBar====----- */
@media (min-width: 320px) and (max-width: 480px) {
  .navbar{
    justify-content: flex-start;
  }

  .links-responsive{
    display: none;
  }
  
  .login-responsive{
    display: none;
  }

  .search-box{
    display: none;
  }

  .logo-img{
    display: none;
  }

  .navbar .menu-hamburguer{
    display: block;
  }

  .btn-banner {
    margin-top: 15%;
    margin-left: 5%;
    width: auto;
    height: 60px;
  }
  
  .btn-banner button {
    padding: 2px 20px 2px 20px;
    font-weight: 400;
  }
  
}

@media (min-width: 481px) and (max-width: 767px) {
  .navbar{
    justify-content: flex-start;
  }

  .links-responsive{
    display: none;
  }

  .login-responsive{
    display: none;
  }

  .search-box{
    display: none;
  }

  .logo-img{
    display: none;
  }
  
  .navbar .menu-hamburguer{
    display: block;
  }

  .btn-banner {
    margin-top: 15%;
    margin-left: 5%;
    width: auto;
    height: 60px;
  }
  
  .btn-banner button {
    padding: 2px 20px 2px 20px;
    font-weight: 400;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
form{
  width: 30vh;
  margin: 5px;
}
  
  .search-box input{
    width: 30vh;
  }
}



/* ----=====CONATINER=====----- */
.container{
  margin-top: 15%;
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* --==Serviços==-- */
.Servicos {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.div-cards {
  height: 150px;
  width: 93%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* itens cards */
.card-rectangle {
  height: 50px;
  width: 300px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  margin-left: 2%;
  cursor: pointer;
}

.card-rectangle:hover {
  transition: 0.5s ease-in-out;
}

.card-rectangle img {
  height: 80%;
}

.card-rectangle span {
  display: none;
  margin-left: 30px;
  transition: 0.2s ease-in-out;
}

.card-rectangle:hover span {
  display: block;
  height: 30%;
  /* margin: 10px; */
  transition: 0.2s;
  animation: word-animation 0.5s ease-in-out;
}

@keyframes word-animation {
  from {
    margin-left: -50px;
    opacity: 0;
  }

  to {
    margin-left: 30px;
    opacity: 1;
  }
}

/* ----====ABout Us===---- */
.div-about-us {
  margin-top: 5vh;
  height: 450px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testeAqui{

  max-width: 450px;
  width: 100%;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  overflow: hidden;
}

.testeAqui img{
  width: 100%;
  height: 100%;
}


.container-about-us {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-between;
}

.container-about-us {
  border-left: 4px solid rgb(30, 155, 30);
}

/* -----=====LADO ESQUERDO=====----- */
.div-left-about-us,
.div-left-services {
  width: 100%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  height: 95%;
}

.div-left-about-us .title,
.div-right-services .title, .slider .title {
  border-left: 4px solid rgb(255, 187, 0);
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.div-left-about-us .title .span-about-us,
.div-right-services .title .span-services,  .slider .title .span-products {
  font-weight: 800;
  font-size: 30px;
}

.content-about-us p {
  /* text-align: justify; */
  text-indent: 15px;
}

/* -----=====NOSSA MISSAO E VISAO=====----- */
.Nossa-Missao-Visao {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  transition: .5s;
  background-color: #f48105;
  color: white;
}

.Nossa-Missao-Visao .btn-M-V {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.btn-M-V .btn-Missao,
.btn-Visao {
  border: none;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-M-V .btn-Missao {
  background-color: rgb(22, 157, 22);
  border: 3px solid rgb(22, 157, 22);
  color: #ffffff;
  transition: .2s;
  cursor: pointer;
  font-weight: 700;
}

.btn-M-V .btn-Visao {
  background-color: #ff8e15;
  border: 1px solid #ff8e15;
  transition: .2s;
  cursor: pointer;
  color: #ffffff;
  padding: 7px;
  font-size: 10px;
  font-weight: 700;
}

.text-Missao {
  margin: 0;
  padding: 20px 20px 0px 20px;

}

.text-Visao {
  margin: 0;
  display: none;
  padding: 20px 20px 0px 20px;
  color: white;
}

/* -----=====LADO DIREITO=====----- */
.div-right-about-us,
.div-right-service {
  width: auto;
  float: right;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.div-right-about-us img {
  height: 100%;
  width: 500px;
}

/* -----===== Serviços =====----- */
.div-services {
  margin-top: 5%;
  height: 650px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.div-services .container-services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
}

.service-img {
  display: flex;
  justify-content: center;
  align-content: center;
}

.service-img img {
  height: 500px;
}

/* -----=====LADO DIREITO=====----- */
.div-right-services {
  margin: 20px;
}

.div-right-services .services-section {
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.services-section .services-top {
  display: flex;
}

.services-section .services-bottom {
  display: flex;
}

.div-right-services .title {
  margin-bottom: 50px;
}

/* -----=====LADO ESQUERDO=====----- */

.div-left-services {
  justify-content: center;
  align-items: center;
}

.service-div-img{
  width: 100%;
}

.service-icon {
  background-color: #24b624;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 15vh;
  padding: 5px;
}

.service-icon img {
  height: 40px;
}

.service-card {
  margin-top: 30px;
  width: 60vh;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: large;
}


.service-card .service-info{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.service-card .service-info h1{
  font-size: 25px;
}

.service-card .service-info p{
  font-size: 18px;
}

/* ----=====Produtos Cards=====----- */
/* Carrossel */
.slider {
  height: 100%;
  width: 100%;
  margin-top: 5vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.slider .title{
  width: 80%;
  display: flex;
  justify-content: left;
}

.container-card1,
.container-card2,
.container-card3,
.container-card4 {
  margin-top: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.slider-container {
  height: 600px;
  width: 80%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.div-cards-slide,
.div-cards-slide2,
.div-cards-slide3,
.div-cards-slide4 {
  width: 200%;
  display: flex;
  justify-content: space-between;
  transition: .5s;
}

/* -----=====CARD=====----- */
.card {
  border: 1px solid rgb(184, 184, 184);
  border-radius: 15px;
  height: 250px;
  width: 200px;
  box-shadow: 10px 10px 15px rgb(202, 202, 202);
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card .image-product{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .image-product img{
  width: 50px;
}

.card .desc-product{
  font-size: smaller;
}


.card .price-cart{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .price-cart button{
  display: flex;
  align-items: center;
  height: 40px;
  background-color: transparent;
  border: 2px solid rgb(192, 192, 192);
  font-weight: 100;
  cursor: pointer ;
}

.card .price-cart button img{
  width: 25px;
}



/* TESTE IGOR */
/*===================================================*/
.product-card {
  max-width: 300px;
  width: 100%;
  border-radius: 25px;
  padding: 15px 20px 20px 20px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  overflow: hidden;
}


.product-card .logo-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  }


.product-card .logo-cart img{
height: 60px;
width: 60px;
object-fit: cover;
}

.product-card .logo-cart i {
  font-size: 37px;
  color:#707070 ;
  cursor: pointer;
  transition: color 0.3s ease;
}


.product-card .logo-cart i:hover {
  color:#333;
}

.product-card .main-images {
  position: relative;
  height: 210px;
}

.product-card .main-images img{
  position: absolute;
  height: 250px;
  width: 250px;
  object-fit: cover;
 left: 8px;
 top: -30px;
 z-index: -1;
 opacity: 0;
 transition: opacity 0.5 ease;
}

.product-card .main-images img.active{
  opacity: 1;
}


.product-card .shoe-details .shor-name{
  font-size: 20px;
  font-family:var(--teste);
  font-weight: 500;
  color: #161616;
}

.product-card .shoe-details p{
font-family: var(--teste);
font-size: 11px;
font-weight: 400;
color: #333;
text-align: justify;
}

.product-card .shoe-details .star i{
  margin:  0 -1px;
  color: #333;

  }

.product-card .color-price .color-option{
  display: flex;
  align-items: center;
}

.color-price{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.color-price .color-option .color{
font-family: var(--teste);
font-size: 18px;
font-weight: 500;
color:#333;
margin-right: 8px;
}

.color-option .circles{
  display: flex;
}


.color-option .circles .circle{
 height: 18px;
 width: 18px;
 background: #0071c7;
 border-radius: 50%;
 margin: 0 4px;
 cursor: pointer;

}

.color-price .circles .circle.blue:active{
  box-shadow:  0 0 0 2px #fff,
                0 0 0 4px #0071c7;
}

.color-price .circles .circle.pink:active{
  box-shadow:  0 0 0 2px #fff,
  0 0 0 4px #0071c7;
}
.color-price .circles .circle.yellow:active{
  box-shadow:  0 0 0 2px #fff,
  0 0 0 4px #0071c7;
}

.color-price .price {
  display: flex;
  flex-direction: column;
}


.color-price .price .price_num{
  font-family: var(--teste);
  font-size: 20px;
  font-weight: 600;
}


.color-price .price .price_letter{
  font-family: var(--teste);
  font-size: 8px;
  font-weight: 600;
  margin-top: -4px;
  color: #707070;
}

.product-card .button{
  position: relative;
  height: 50px;
  width: 100%;
  border-radius: 25px;
  margin-top: 30px;
  overflow: hidden;
}
.product-card .button .button-layer{
  position: absolute;
  height: 100%;
  width: 300%;
  left: -100%;
  background-image: linear-gradient(135deg,#9708CC, #43CBFF,#9708CC, #43CBFF );
  transition: all 0.4s ease;
  border-radius: 25PX;
}
.product-card .button:hover .button-layer{
  left: 0;
}
.product-card .button button{
  position: relative;
  height: 100%;
  width: 100%;
  background: none;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}





/* -----=====Botões=====----- */
.prevItem{
  margin-right: 30px;
}

.prevItem, .nextItem{
  background-color: transparent;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  padding: 10px 10px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.prevItem:hover, .nextItem:hover{
  background-color: rgba(150, 150, 150, 0.5);
}






/* ----=====FOOTER=====----- */
.footer {
  margin-top: 15vh;
  height: 65vh;
  width: 100%;
  background-color: #FDF9F4;
  display: flex;
  flex-direction: column;
}
  .card svg {
    height: 25px;
  }
  
  .card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #e7e7e7;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    height: 50px;
    width: 200px;
  }
  
  .card::before, .card::after {
    position: absolute;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    transition: 0.25s linear;
    z-index: 1;
  }
  
  .card::before {
    content: "";
    left: 0;
    justify-content: flex-end;
    background-color: #4d60b6;
  }
  
  .card::after {
    content: "";
    right: 0;
    justify-content: flex-start;
    background-color: #4453a6;
  }
  
  .card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .card:hover span {
    opacity: 0;
    z-index: -3;
  }
  
  .card:hover::before {
    opacity: 0.5;
    transform: translateY(-100%);
  }
  
  .card:hover::after {
    opacity: 0.5;
    transform: translateY(100%);
  }
  
  .card span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    font-family: 'Fira Mono', monospace;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
  }
  
  .card .social-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
  }
  
  .card .social-link svg {
    text-shadow: 1px 1px rgba(31, 74, 121, 0.7);
    transform: scale(1);
  }
  
  .card .social-link:hover {
    background-color: rgba(249, 244, 255, 0.774);
    animation: bounce_613 0.4s linear;
  }
  
  @keyframes bounce_613 {
    40% {
      transform: scale(1.4);
    }
  
    60% {
      transform: scale(0.8);
    }
  
    80% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }


/* ----=====FOOTER TOP=====----- */


.footer-top {
  height: 17%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social-midia-bottom {
  display: flex;
  justify-content: space-around;
}

.social-midia-bottom img {
  width: 30px;
}

.div-info,
.phone,
.email,
.address {
  display: flex;
  font-size: smaller;
  font-weight: 400;
}

.icon-phone img,
.icon-email img,
.icon-address img {
  width: 30px;
  margin: 5px
}

.div-contact-input input {
  width: 42vh;
  height: 25px;
  border-radius: 40px;
  background-color: white;
  border: 0.5px solid;
  outline: none;
  padding: 2px;
  padding-left: 10px;
}


/* ----=====FOOTER CENTER=====----- */
.footer-center {
  height: 66%;
  width: 100%;
  background-color: rgb(160, 225, 160);
  margin: 10px 0px 0px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
}

.footer-center .footer-section {
  width: 20%;
}

.about-us-footer {
  text-align: center;
}

.home-link h3 {
  text-align: center;
}

.footer-center .footer-section p {
  text-indent: 15px;
  text-align: justify;
}

.footer-center .footer-section a {
  text-decoration: none;
  color: black;
}

.app-download {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  height: 30vh;
  border-radius: 30px 0px 30px 0px;
  background-color: #4a8e4a;
  color: white;
}

.app-download .download-qr-code {
  display: flex;
  justify-content: center;
}

.app-download .download-qr-code img {
  width: 50%;
  border-radius: 4px;
}




/* ----=====FOOTER BOTTOM=====----- */
.footer-bottom {
  height: 13%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  font-style: normal;
}