/* --==LOGIN==-- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Hammersmith One", sans-serif;
}
.login {
  height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-login {
  width: 90%;
  height: 500px;
  display: flex;
}
.container-login .container-img-login {
  width: 60%;
  height: 100%;
}
.container-login .container-img-login .img-login {
  width: 80%;
  height: 100%;
  background-color: #31ca5f;
}
.container-login .section-form {
  width: -webkit-fill-available;
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.login-form .titleLogin {
  height: 40px;
  font-size: 25px;
}
.section-form .login-form form {
  width: 100%;
  height: 50%;

}
.div-email,
.div-senha {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-email input,
.div-senha input {
  height: 40px;
  width: 70%;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: solid 3px #fdb569;
}
.button-div{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.section-form .login-form form .button-div button {
  padding: 10px 130px 10px 130px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  box-shadow: 3px 3px 15px gray;
  background-color: #ff8e15;
  border: 2px solid #ff8e15;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.section-form .login-form form .button-div button:hover {
  transform: scale(110%);
  background-color: white;
  color: #ff8e15;
}
