/* --==LOGIN==-- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Hammersmith One", sans-serif;
}
.login {
  height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-login {
  width: 70%;
  height: 60%;
  display: flex;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 5px 10px 0px grey;
}

.container-login .container-img-login,
.container-login .container-img-login  img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px grey;
}
.container-login .section-form {
  width: -webkit-fill-available;
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.login-form .titleLogin {
  height: 40px;
  font-size: 25px;
}
.section-form .login-form form {
  width: 100%;
  height: 60%;
}
.div-email,
.div-senha {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-email input,
.div-senha input {
  height: 40px;
  width: 70%;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: solid 3px #213c68;
}
.button-div {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.section-form .login-form form .button-div button {
  width: 70%;
  height: 35px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  box-shadow: 3px 3px 15px gray;
  background-color: #132542;
  border: 2px solid #314c79;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.section-form .login-form form .button-div button:hover {
  transform: scale(110%);
  background-color: white;
  color: #a10000;
}

.section-form .login-form .signUpButtonLogin{
  gap: 2em;
  color: #132542;
}
.section-form .login-form .signUpButtonLogin img{
  height: 20px;
  margin-left: 10px;
}

/* Responsividade Login */
@media (max-width: 950px){
  .container-login .container-img-login, .container-login .container-img-login img {
    display: none;
}}
@media (max-width: 705px){
  .container-login{
    width: 50%;
  }
}
@media (max-width: 500px){
  .container-login{
    width: 40%;
  }
}